<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PathFiles" value="C:\CPB_Resultados\" />
    <add key="PathResultadosExibidos" value="C:\CPB_Resultados_Processados\" />
    <add key="PathPaginas" value="C:\CPB_Resultados_Pagina\" />
    <add key="PathBandeiras" value="C:\CPB_Resultados_Pagina\Imagens\Bandeiras\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PathImagensPng" value="C:\Users\franklinbarros\Desktop\PNG\" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>